/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
/* Resets */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Key Map Pairs */
/* Roots */
:root {
  --primary: black;
  --contrast: rgb(109, 104, 117);
}

/* Globals */
body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: var(--contrast);
  text-decoration: none;
  font-family: "Julius Sas One", sans-serif;
  text-transform: uppercase;
}

button {
  outline: none;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

/* Specifics */
header {
  position: relative;
  z-index: 2;
}

.top-nav {
  min-height: 10vh;
  max-height: auto;
  width: 100vw;
  margin: auto;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background: whitesmoke;
}

.top-nav h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.5rem;
  margin-left: 2em;
  font-weight: 300;
  color: var(--contrast);
}

.top-nav ul {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-nav .top-nav-link {
  font-size: 1.25rem;
  position: relative;
}

.top-nav .top-nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  height: 2px;
  background-color: var(--contrast);
  width: 0%;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.top-nav .top-nav-link:hover::after {
  left: 0;
  right: 100%;
  width: 100%;
}

.top-nav .social-link:hover {
  color: var(--primary);
}

.top-nav button {
  display: none;
}

.top-nav button i {
  color: var(--contrast);
}

.top-nav button i:hover {
  color: var(--primary);
}

.top-nav .drop-down-container {
  position: absolute;
  top: 10vh;
  width: 100%;
  background: whitesmoke;
}

.top-nav .drop-down-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav .drop-down-content ul li,
.top-nav .drop-down-content ul i {
  margin-top: 1em;
}

.top-nav .drop-down-content {
  display: block;
  width: 100%;
  overflow-y: hidden;
  max-height: 0px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  z-index: 1;
}

.top-nav .drop-down-content-open {
  max-height: 500px;
}

main {
  height: auto;
  position: absolute;
  width: 100%;
  top: 10vh;
}

.about {
  min-height: 100vh;
  width: 100%;
  height: auto;
  background: var(--contrast);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-left {
  height: 75%;
  width: 50%;
  padding: 2rem;
}

.about-left h1 {
  color: var(--primary);
  letter-spacing: 2px;
  font-size: 3.5rem;
}

.about-left p {
  color: var(--primary);
  font-size: 2rem;
}

.about-right {
  height: 50%;
  width: 50%;
}

.about-right img {
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

.portfolio {
  max-height: auto;
  height: 115vh;
  width: 100%;
  background: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  font-size: 4rem;
  color: var(--contrast);
}

.portfolio iframe {
  margin-bottom: 2em;
}

.contact {
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  background: var(--contrast);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact h1,
.contact p {
  color: var(--primary);
  text-align: center;
}

.contact h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

.contact p {
  font-size: 3rem;
}

/* Media Queries XD */
@media only screen and (max-width: 768px) {
  .top-nav ul {
    display: none;
  }
  .top-nav button {
    display: block;
    margin-right: 2em;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about h1 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.5rem;
  }
  .about .about-left {
    width: 90%;
  }
  .portfolio h1 {
    font-size: 2rem;
  }
  .contact h1 {
    font-size: 2.5rem;
  }
  .contact p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */